@{
    ViewBag.Title = "Tienda BabyStore || Un ejemplo de tienda con productos infantiles.";
    ViewBag.MetaDescription = "Por ejemplo aquí he añadido esto que ira antes.";
}

<div class="jumbotron">
    <h1>BABYSTORE!</h1>
    <p class="lead">Un ejemplo de tienda aprovechando las características de ASP.NET MVC</p>
</div>

<div class="row">
    <div class="col-md">
        <h2>NOTAS</h2>
        <p>Esta página cotiene contenido autogenerado por los controladores, sólo he traducido el controlador <b>"Categorias"</b>.</p>
        <p>Pero es absurdo editar todos los controladores puesto que en futuros ejercicios del libro se modificarán todas la páginas del sitio.</p>
  </div>
</div>